.about-container{
  position: relative;
  background: url(../img/about-bg.png) left 46px top 190px no-repeat;
  @media (max-width: 1699px) {
    background: transparent;
  }
}
.about-bg-text{
  position: absolute;
  left: 50%;
  top: -75px;
  -webkit-text-stroke: 1px #efca97;
  font-family: PlayfairDisplay;
  font-size: 155px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(253, 239, 230, 0.1);
  opacity: 0.1;
  margin-left: -65px;
  @media (max-width: 1199px) {
    display: none;
  }
}
.about-text{
  width: 753px;
  margin-left: auto;
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
  margin-bottom: 70px;
  max-width: 100%;
}
.about{
  .post-block{
    @media (max-width: 767px) {
      padding-top: 40px;
    }
    margin-top: 0;
  }
}