.container{
  @media (min-width: 768px){
    width: 700px;
    max-width: 100%;
  }
  @media (min-width: 992px) {
    width: 800px;
  }
  @media (min-width: 1200px) {
    width: 1000px;
  }
  @media (min-width: 1700px) {
    width: 1370px;
  }
}

.catalogue{
  padding-left: 190px;
  padding-top: 120px;
  padding-bottom: 46px;
  @media (max-width: 1299px){
    padding-left: 120px;
  }
  @media (max-width: 767px) {
    padding-left: 0;
    padding-top: 106px;
  }
}
.bredcrumbs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.bredcrumbs-item{
  margin-right: 5px;
  &:last-child{
    margin-right: 0;
  }
}
.bredcrumbs-link{
  font-family: FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f7976;
  &:after {
    display: inline-block;
    content: "-";
    margin-left: 2px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
  }
  &:hover{
    text-decoration: none;
  }
}
.bredcrumbs-last{
  font-family: FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efca97;
  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
  }
}
.page-name{
  font-family: PlayfairDisplay;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efca97;
  margin-bottom: 70px;
  @media (max-width: 767px) {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 56px;
  }
}
.catalogue-row{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -24px 10px;
  @media (max-width: 767px){
    justify-content: center;
    margin: 0 0 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.catalogue-item{
  width: 414px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 24px 50px;
  &:hover{
    text-decoration: none;
  }
  @media (max-width: 1699px) {
    width: 350px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    margin: 0 0 44px;
  }
}
.catalogue-img-container{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #efca97;
  margin-bottom: 30px;
  background: #000000;
  &:before{
    content: '';
    position: absolute;
    top: -6px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 12px);
    box-sizing: border-box;
    border: 1px solid rgba(#efca97, 0.5);
    z-index: 2;
    transition: all 0.2s ease-in;
  }
  @media (max-width: 767px) {
    margin-bottom: 21px;
  }
}
.catalogue-item:hover .catalogue-img-container:before {
  left: -6px;
  width: calc(100% + 12px);
  border: 1px solid #efca97;
}
.no-borders .catalogue-img-container {
  border: none;
  background: transparent;
  &:before{
    display: none;
  }
}
.product_category_elite_number {
  position: absolute;
  bottom: 40px;
  right: 30px;
  color: #fff;
  font-family: "FiraSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.catalogue-name{
  font-family: $PlayfairDisplay;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fdefe6;
  transition: color 0.2s ease-in;
  @media (max-width: 767px) {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
.catalogue-item:hover .catalogue-name {
  color: #efca97;
}

.load-more{
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #24252c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto 35px auto;
  transition: all .3s ease;
  &:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border: 1px solid #32333b;
    transition: all .3s ease;
  }
  &.loading {
    width: 90px;
    span {
      color: transparent !important;
    }
    &:before{
      left: -5px;
      width: calc(100% + 10px);
      animation: rot 1s linear infinite .3s;
      border-color: #efca97;
    }
  }
  .loading-text {
    position: absolute;
    color: #928883;
  }

}
.load-more-text{
  font-family: $FiraSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fdefe6;
  margin-bottom: 10px;
  transition: color .3s ease;
  @media (max-width: 767px) {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
.load-more-count{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #928883;
  transition: color .3s ease;
  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  @media (max-width: 767px) {
    margin-bottom: 35px;
  }
  li {
    > * {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid #efca97;
      margin-right: -1px;
      transition: 0.3s;
      font-family: $FiraSans;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fdefe6;
  }
    > a:hover {
      background: #24252c;
      text-decoration: none;
    }
  }

  li.active > *{
    background-color: #efca97;
    color: #14151a;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 44px;
      height: 44px;
      border: solid 1px #14151a;
    }
  }
}
.pagination-next,.pagination-prev,.pagination-first,.pagination-last{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    border:none;
    &:hover {
      background: none !important;
      svg {
        fill: #efca97;
      }
    }
  }
  svg{
    width: 11px;
    height: 21px;
    fill: #928883;
  }
}
.pagination-prev {
  svg{
    transform: rotate(180deg);
  }
}
.patination-first,.pagination-last {
  display: none;
}

.refine_categories {
  margin-bottom: 45px;
  font-family: FiraSans;
  h3 {
    display: inline-block;
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    &:after {
      display: inline-block;
      content: ":";
    }
  }
  ul {
    list-style: none;
    display: inline-flex;
    li {
      margin-left: 15px;
    }
  }
}

.catalogue-bot-block{
  box-sizing: border-box;
  border: solid 1px #32333b;
  position: relative;
  padding: 45px 50px;
  &:before{
    content: '';
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    border: solid 1px #32333b;
    box-sizing: border-box;
  }
  @media (max-width: 767px) {
    padding: 30px 14px;
    text-align: center;
  }
}
.catalogue-bot-name{
  font-family: $PlayfairDisplay;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #efca97;
  margin-bottom: 25px;
  @media (max-width: 767px) {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 40px;
  }
}
.catalogue-bot-text{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #7f7976;
  @media (max-width: 767px) {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
  }
}
.mfp-arrow {
  width: 54px !important;
  height: 54px !important;
}
.mfp-arrow::before,.mfp-arrow::after {
  border:none !important;
  top:0 !important;
  margin-top: 18px !important;
}
.mfp-arrow::after {
  display: none !important;
}
.mfp-arrow-right,.mfp-arrow-left {
  border-radius: 50%;
  border: 1px solid #efca97 !important;
}
.mfp-arrow-right {
  margin-left: -9px !important;
  right: 15px !important;
}
.mfp-arrow-left {
  left: 15px !important;
}
.mfp-arrow-left::before {
  margin-left: 19px;
}
.mfp-arrow-right::before,.mfp-arrow-left::before {
  background: url(../img/sliedr-arrow.png) center center no-repeat;
  width: 40px !important;
  height: 17px !important;
}

.mfp-arrow-right::before {
  margin-left: -7px !important;
}
.mfp-arrow-left::before {
  transform: rotate(180deg);
}

.product-slider-holder {
  position: relative;
  .product-phone-number {
    position: absolute;
    z-index: 2;
    font-family: "FiraSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    right: 40px;
    bottom: 30px;
  }
}
.mfp-figure {
  figure {
    background: #000000;
  }
}
