// index/dashboard page
//-----------------------------------------------------------------------------------
body.index,html.index{
  overflow: hidden !important;
  @media (max-width: 1199px) {
    overflow: auto !important;
  }
}
body{
  background-color: #14151a;
}
.lines-container{
  position: relative;
  @media (max-width: 1199px) {
    position: fixed;
    width: 100vw;
  }
}
.index .other-footer-right {
  position: fixed;
  @media (min-width: 768px) {
    right: 55px;
    bottom: 55px;
  }
}
.line{
  position: fixed;
  left: 30%;
  top: 0;
  height: 100vh;
  width: 1px;
  opacity: 0.2;
  background-image: linear-gradient(to top, rgba(239, 202, 151, 0.1), #efca97);
  z-index: 2;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 60px;
    top: 0%;
    left: 0;
    animation-name: slide;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #efd9c9 50%, rgba(255, 255, 255, 0) 100%);
  }
  &:nth-child(1):before {
    animation-duration: 4s;
  }
  &:nth-child(2):before {
    animation-duration: 4.5s;
  }
  &:nth-child(3):before {
    animation-duration: 3.5s;
  }
  &:nth-child(4):before {
    animation-duration: 2.5s;
  }

  @media (max-width: 767px) {
    left: 35px;
  }
  &:nth-child(2) {
    left: 50%;
    margin-left: -0.5px;
  }
  &:nth-child(3) {
    left: auto;
    right: 30%;
    @media (max-width: 767px) {
      right: 35px;
    }
  }
  &:nth-child(4) {
    left: auto;
    right: 190px;
    @media (max-width: 1299px) {
      right: 120px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.section{
  padding-left: 190px;
  position: relative;
  z-index: 5;
  @media (max-width: 1299px) {
    padding-left: 120px;
  }
  @media (max-width: 1199px) {
    position: relative;
  }
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &.main{
    padding-left: 0;
    z-index: 1;
    @media (max-width: 767px) {
      padding-left: 20px;
    }
    .slide{
      padding-left: 190px;
    }
  }
  &.status{
    padding-bottom: 127px;
    .fp-tableCell{
      position: relative;
    }
    @media (max-width: 1100px) {
      margin-bottom: 45px;
    }
    .phones-bg-text {
      position: absolute;
      top: 2px;
      left: 61px;
      &:nth-child(2) {
        top: 221px;
        left: 100px;
      }
    }
  }
}
.go-next{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @media (max-width: 1199px) {
    display: none;
  }
  &:hover{
    .circle{
      opacity: 1;
    }
  }
}
.circle{
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  height: 230px;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
  @media (max-height: 799px) {
    display: none;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 116px;
    width: 228px;
    height: 228px;
    opacity: 0.6;
    border: 1px solid rgba(#efca97, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
  }
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 57px;
    width: 345px;
    height: 345px;
    opacity: 0.4;
    border: 1px solid rgba(#efca97, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
  }
}
.third-circle{
  width: 460px;
  height: 460px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: 1px solid #efca97;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}
.go-next-text{
  font-family: $FiraSans;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: rgba(253, 239, 230, 0.2);
  margin-top: 15px;
}
.main{
  .slide{
    background: url(../img/first-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1199px) {
      display: none;
    }
  }
}
.fp-controlArrow{
  width: 54px !important;
  height: 54px;
  border: 1px solid #efca97 !important;
  border-radius: 50%;
  box-sizing: border-box;
  margin-top: 0;
  top: 292px;
  &.fp-next{
    right: 203px;
    &:before{
      content: '';
      position: absolute;
      background: url(../img/sliedr-arrow.png) center center no-repeat;
      width: 40px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
    }
  }
  &.fp-prev{
    left: 203px;
    &:before{
      content: '';
      position: absolute;
      background: url(../img/sliedr-arrow.png) center center no-repeat;
      width: 40px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      left: 19px;
    }
  }
}
.fp-slidesNav.fp-bottom{
  bottom: auto;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 31px;
  left: auto !important;
  width: 18px;
  margin: 0 !important;
  &:before{
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 44px);
    opacity: 0.2;
    background-color: #efca97;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li{
      margin: 8px -1px 8px 0;
      a{
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border: 1px solid #efca97;
        transform: rotate(45deg);
        span{
          width: 5px;
          height: 5px;
          margin: 0;
          border-radius: 0;
          background-color: #efca97;
          margin: 0;
          opacity: 0;
          transition: 0s;
          transform: translate(-50%, -50%)
        }
        &.active{
          span{
            opacity: 1;
          }
        }
      }
    }
  }
}
.main-text-block{
  margin-left: 210px;
  width: 710px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: 1499px) {
    margin-left: 100px;
  }
  @media (max-width: 1199px) {
    padding-top: 255px;
    padding-bottom: 140px;
    position: relative;
    z-index: 2;
    height: auto;
  }
  @media (max-width: 1000px) {
    margin-left: 0;
    padding-left: 100px;
    box-sizing: border-box;
  }
  @media (max-width: 767px) {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 100%;
  }
}
.main-name{
  color: #efca97;
  font-family: $PlayfairDisplay;
  font-weight: bold;
  font-size: 82px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
  }
}
.main-subname{
  color: #efca97;
  font-family: $FiraSans;
  font-weight: 300;
  font-size: 40px;
  @media (max-width: 767px) {
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fdefe6;
  }
}
.btn{
  width: 255px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #efca97;
  font-family: $PlayfairDisplay;
  font-weight: 400;
  font-size: 18px;
  color: #efca97;
  transition: 0.3s;
  display: block;
  justify-content: center;
  align-items: center;
  &:before{
    content: '';
    position: absolute;
    transition: 0.3s;
    top: 9px;
    left: 9px;
    width: 100%;
    height: 100%;
    border: 1px solid #efca97;
    opacity: 0.2;
  }
  &:hover{
    background-color: #efca97;
    color: #14151a;
    text-decoration: none;
    &:before{
      left: 0;
      top: 0;
    }
  }
  @media (max-width: 767px) {
    height: 50px;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.4px;
    text-align: center;
    color: #efca97;
  }
}

.numbers-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.numbers-left{
  padding-left: 215px;
  @media (max-width: 1499px) {
    padding-left: 100px;
  }
  @media (max-width: 1199px) {
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    padding-left: 0;
    text-align: center;
    width: 100%;
    .btn{
      display: none;
    }
  }
}
.section-name{
  font-family: $PlayfairDisplay;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #efca97;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    margin-bottom: 16px;
  }
}
.numbers-text{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #a29c93;
  margin-bottom: 100px;
  @media (max-width: 1399px) {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #a29c93;
    margin-bottom: 40px;
    br{
      display: none;
    }
  }
}
.numbers-right{
  width: calc(50% + 94px);
  > .btn{
    display: none;
    @media (max-width: 767px) {
      display: block;
      margin: 42px auto 0;
    }
  }
  .golden_feather {
    position: absolute;
    transform: translateX(264px) translateY(58px) rotateY(180deg) rotate(23deg);
  }

  @media (max-width: 1199px) {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
}
.buttons-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  margin-bottom: 59px;
  @media (max-height: 699px) {
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    margin-bottom: 28px;
  }
}
.slider-button{
  opacity: 0.3;
  font-family: $PlayfairDisplay;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  padding: 16px 26px 18px 26px;
  box-sizing: border-box;
  &.active{
    opacity: 1;
    border: solid 2px rgba(#efca97, 0.4);
  }
  @media (max-width: 767px) {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #efca97;
    padding: 0 20px;
  }
}
.numbers-slider{
  padding-left: 50px;
  @media (max-width: 767px) {
    padding-left: 0;
  }
}
.numbers-slide{
  margin-right: 120px;
  text-align: center;
  .phones-bot-right-btn {
    display: none;
  }
  @media (max-width: 767px) {
    margin-right: 10px;
  }
  .numbers-slide-img{
    height: 250px;
    transition: 0.3s;
    @media (max-width: 767px) {
      height: 170px;
    }
  }
  &.slick-active{
    .phones-bot-right-btn {
      display: flex;
    }
    .numbers-slide-img{
      height: 291px;
      @media (max-width: 767px) {
        height: 180px;
      }
    }
    .numbers-slide-number{
      opacity: 1;
    }
  }
}
.numbers-slide-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 291px;
  @media (max-width: 767px) {
    height: 180px;
  }
}
.numbers-slide-number{
  opacity: 0;
  position: absolute;
  font-family: $FiraSans;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  right: 40px;
  bottom: 30px;
  // display: none;
  transition: 0.3s;
  // &.active{
  //   display: block;
  // }
  @media (max-width: 767px) {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}
// .numbers-slide-img{
//   display: none !important;
//   &.active{
//     display: block !important;
//   }
// }
.numbers-right-bot{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: 105px;
  margin-top: 65px;
  width: 220px;
  @media (max-height: 699px) {
    margin-top: 5px;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.numbers-right-bot-text{
  margin-left: 16px;
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
}
.phones{
  @media (max-width: 767px) {
    padding-bottom: 94px;
  }
  .btn{
    width: 345px;
  }
}
.accessory {
  @media (max-width: 767px) {
    padding-bottom: 94px;
  }
}
.phones-right{
  width: calc(50% + 110px);
  position: relative;
  @media (max-width: 1199px) {
    width: 100%;
  }
}
.phones-bot-left{
  position: absolute;
  bottom: 150px;
  left: 15px;
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #efca97;
  @media (max-height: 799px) {
    bottom: 200px;
  }
  @media (max-width: 1399px) {
    bottom: 150px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.phones-bot-right{
  position: absolute;
  bottom: 150px;
  right: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-height: 799px) {
    bottom: 200px;
  }
  @media (max-width: 1399px) {
    bottom: 150px;
    right: 50px;
  }
  @media (max-width: 767px) {
    position: static;
    width: 100%;
  }
}
.phones-bot-right-text{
  font-family: $PlayfairDisplay;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efca97;
  @media (max-width: 767px) {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    br{
      display: none;
    }
  }
}
.phones-bot-right-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #efca97;
  width: 175px;
  height: 51px;
  border: solid 2px rgba(#efca97, 0.4);
  margin: 20px auto 0;
  transition: 0.3s;
  &:hover{
    border-color: #efca97;
    background-color: #efca97;
    color: #14151a;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    width: 100%;
    border-color: #efca97;
    background-color: #efca97;
    color: #14151a;
  }
}
.status-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .btn{
    width: 385px;
  }
  @media (max-width: 1199px) {
    margin-bottom: 100px;
    flex-direction: column-reverse;
  }
}
.status-left{
  position: relative;
  padding-left: 123px;
  .btn{
    display: none;
  }
  @media (max-width: 1199px) {
    padding-left: 0;
  }
  @media (max-width: 767px) {
    .btn{
      display: block;
      max-width: 100%;
      width: 290px;
      margin: 47px auto 0;
    }
  }
}
.status-right{
  padding-left: 50px;
  @media (max-width: 1199px) {
    padding-left: 0;
    margin-bottom: 110px;
  }
  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    .btn{
      display: none;
    }
  }
}
.status-item{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #a29c93;
  margin-bottom: 25px;
  span{
    color: #efca97;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
.status-text{
  font-family: $PlayfairDisplay;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  margin-bottom: 45px;
  @media (max-width: 767px) {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    margin-bottom: 25px;
  }
}
.status-heading {
  color: #a29c93;
  margin-bottom: 25px;
  font-family: "FiraSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  span {
    color: #efca97;
  }
}
.status-block{
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid rgba(#efca97, 0.7);
  z-index: 99;
  box-sizing: border-box;
  height: 129px;
  padding-left: 35px;
  @media (max-width: 1199px) {
    width: calc(100% - 120px);
    margin-left: 120px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.status-address{
  font-family: $FiraSans;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.12px;
  color: #fdefe6;
  margin-bottom: 10px;
}
.status-mail{
  padding-left: 25px;
  font-family: $FiraSans;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: left;
  color: #fdefe6;
  position: relative;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 12px;
    background: url(../img/mail.png) center center no-repeat;
  }
}
.status-numbers{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 35px;
  }
}
.status-phone{
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.44px;
  text-align: left;
  color: #fdefe6;
  margin-bottom: 5px;
  &:hover{
    text-decoration: none;
  }
}
.status-phones{
  font-family: $FiraSans;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.96px;
  text-align: left;
  color: #7d7672;
}
.phones-slide{
  position: relative;
  height: 800px;
  overflow: hidden;
  @media (max-height: 799px) {
    height: 650px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
}
.phones-slider{
  height: 800px;
  &:hover{
    .slick-next{
      opacity: 1;
    }
  }
  .slick-next{
    opacity: 0;
    transition: 0.3s;
    right: 125px;
    width: 54px !important;
    height: 54px;
    border: 1px solid #efca97 !important;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 0;
    top: 137px;
    transform: translate(0);
    &:before{
      content: '';
      position: absolute;
      background: url(../img/sliedr-arrow.png) center center no-repeat;
      width: 40px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
    }
  }
  .slick-prev{
    display: none !important;
    @media (max-width: 767px) {
      display: block !important;
    }
  }
  @media (max-height: 799px) {
    height: 650px;
  }
  @media (max-width: 767px) {
    height: auto;
    margin-bottom: 16px;
    .slick-next{
      height: 20px;
      width: 10px!important;
      border: none!important;
      right: 0;
      margin-top: -50px;
      top: 50%;
      transform: translate(0, -50%);
      opacity: 1;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url(../img/svg/right.svg) center center no-repeat;
        transform: none;
      }
    }
    .slick-prev{
      height: 20px;
      width: 10px;
      left: 0;
      margin-top: -50px;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url(../img/svg/right.svg) center center no-repeat;
        transform: rotate(180deg);
      }
    }
  }
}
.phones-slide-container{
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media (max-height: 799px) {
    height: 650px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
}
.phones-bg-text{
  opacity: 0.1;
  -webkit-text-stroke: 1px #efca97;
  font-family: $PlayfairDisplay;
  font-size: 200px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: normal;
  color: rgba(253, 239, 230, 0.1);
  padding-left: 75px;
  &.mod-bot{
    padding-left: 0;
  }
  &.mod-pl-0{
    padding-left: 0;
    font-size: 160px;
    @media (max-width: 1399px) {
      font-size: 130px;
    }
  }
  @media (max-height: 799px) {
    font-size: 170px;
  }
  @media (max-width: 1799px) {
    font-size: 170px;
  }
  @media (max-width: 1399px) {
    font-size: 130px;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.phones-images-block{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  @media (max-height: 799px) {
    height: 650px;
  }
  @media (max-width: 1199px) {
    position: relative;
    left: auto;
    top: auto;
    transform: translateY(0);
  }
  @media (max-width: 767px) {
    height: 315px;
  }
}
.phones-right-img-bg{
  margin-right: 150px;
  margin-top: -130px;
  @media (max-width: 1399px) {
    width: 320px;
    margin-right: 110px;
  }
  @media (max-width: 767px) {
    width: 220px;
    margin-top: -50px;
    margin-right: 0;
  }
}
.phones-right-img{
  position: absolute;
  left: 42% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-height: 708px;
  @media (max-height: 799px) {
    max-height: 550px;
  }
  @media (max-width: 1399px) {
    height: 440px;
  }
  @media (max-width: 767px) {
    height: auto;
    left: 50% !important;
    max-height: 315px;
  }
}
.clock{
  @media (max-width: 767px) {
    padding-bottom: 94px;
  }
  .phones-right-img-bg{
    margin-right: 220px;
    margin-top: -450px;
    @media (max-height: 799px) {
      margin-top: -340px;
      height: 290px;
    }
    @media (max-width: 767px) {
      margin-right: 80px;
      margin-top: -150px;
      width: 200px;
      height: auto;
    }
  }
  .phones-bg-text{
    margin-top: -70px;
    padding-left: 0;
    &.mod-bot{
      margin-top: 0;
      padding-left: 184px;
    }
  }
  .phones-images-block{
    top: 62%;
    left: -60px;
    @media (max-width: 1199px) {
      top: 0;
    }
    @media (max-width: 767px) {
      left: 0;
    }
  }
  .phones-right-img{
    @media (max-height: 799px) {
      height: 390px;
    }
    @media (max-width: 1599px) {
      left: 50%;
    }
    @media (max-width: 767px) {
      height: 207px;
      left: 50% !important;
    }
  }
}
.status-img{
  @media (max-width: 1399px) {
    width: 400px;
  }
}
.status-img-floating {
  position: absolute;
  top: -87px;
  left: 84px;
}
.m-main-slider{
  margin-bottom: 0 !important;
  height: 100vh;
  @media (max-width: 1199px) {
    display: block;
    width: calc(100% - 120px);
    margin-left: 120px;
    height: auto;
    .slick-arrow{
      display: none !important;
    }
  }
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
  }
  &:hover{
    .slick-next{
      opacity: 1;
    }
  }
  .slick-next{
    opacity: 0;
    transition: 0.3s;
    right: 200px;
    width: 54px !important;
    height: 54px;
    border: 1px solid #efca97 !important;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 0;
    top: 292px;
    transform: translate(0);
    &:before{
      content: '';
      position: absolute;
      background: url(../img/sliedr-arrow.png) center center no-repeat;
      width: 40px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
    }
  }
  .slick-prev{
    display: none !important;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    @media (min-width: 1200px) {
      flex-direction: column;
      height: 100vh;
      left: auto;
      right: 20px;
      width: auto;
    }
    &:before{
      content: '';
      position: absolute;
      height: 1px;
      width: 200px;
      opacity: 0.2;
      background-color: #efca97;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 1200px) {
        width: 1px;
        height: 200px;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
      }
    }
    li{
      margin: -1px 8px 0 8px ;
      @media (min-width: 1200px){
        margin: 8px 0 8px;
      }
      button{
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border: 1px solid #efca97;
        transform: rotate(45deg);
        background-color: #14151a;
        &:before{
          position: absolute;
          width: 5px;
          height: 5px;
          margin: 0;
          border-radius: 0;
          background-color: #efca97;
          margin: 0;
          opacity: 0;
          transition: 0s;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
      &.slick-active{
        button{
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
}
.main-slide{
  height: 100vh;
  box-sizing: border-box;
  padding-left: 200px;
  @media (max-width: 1199px) {
    padding-left: 0;
    height: auto;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #14151a;
      opacity: 0.2;
    }
  }
}
.numbers{
  @media (max-width: 1199px) {
    padding-bottom: 40px;
  }
  @media (max-width: 767px) {
    padding-top: 80px;
  }
}
.fullpage-wrapper{
  @media (max-width: 767px) {
    margin-top: 80px;
  }
}
.all-products{
  display: none;
  @media (max-width: 767px){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #efca97;
    font-family: $PlayfairDisplay;
    font-weight: 400;
    font-size: 18px;
    color: #efca97;
    transition: 0.3s;
    &:before{
      content: '';
      position: absolute;
      transition: 0.3s;
      top: 9px;
      left: 9px;
      width: 100%;
      height: 100%;
      border: 1px solid #efca97;
      opacity: 0.2;
    }
    &:hover{
      background-color: #efca97;
      color: #fff;
      &:before{
        left: 0;
        top: 0;
      }
    }
  }
}
@keyframes slide {
  0% {
    top: -60px;
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    top: 110%;
    opacity: 0.2; }
}
@keyframes rot {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
