.news-row{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    margin: 0 -20px -60px;
  }
}
.news-item{
  box-sizing: border-box;
  width: calc(50% - 30px);
  margin-bottom: 82px;
  &:hover{
    text-decoration: none;
  }
  @media (max-width: 1199px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    margin-bottom: 99px;
  }
}
.news-item-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  background-color: #24252c;
  width: calc(100% - 60px);
  margin-left: 60px;
  box-sizing: border-box;
  height: 100%;
  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
    padding: 0 10px 25px 10px;
  }
}
.news-item-img-container{
  margin-top: -66px;
  margin-left: -90px;
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
    margin-top: -73px;
    margin-bottom: 16px;
  }
}
.news-item-img{
  @media (max-width: 767px) {
    width: 100%;
  }
}
.news-item-text-block{
  margin-left: -70px;
  position: relative;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
  }
}
.news-item-name{
  font-family: $PlayfairDisplay;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fdefe6;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 15px;
  }
}
.news-item-text{
  font-family: $FiraSans;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
  margin-bottom: 35px;
  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    margin-bottom: 22px;
  }
}
.news-item-link{
  font-family: $PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: center;
  color: #efca97;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  img{
    margin-left: 12px;
  }
  &:hover{
    text-decoration: none;
  }
}
.page-name.mod-news{
  @media (max-width: 767px) {
    margin-bottom: 105px;
  }
}