.portfolio-slider{
  margin-bottom: 16px;
  .slick-next{
    right: 25px;
    width: 54px !important;
    height: 54px;
    border: 1px solid #efca97 !important;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 0;
    top: 137px;
    transform: translate(0);
    &:before{
      content: '';
      position: absolute;
      background: url(../img/sliedr-arrow.png) center center no-repeat;
      width: 40px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
    }
  }
  .slick-prev{
    width: 54px !important;
    height: 54px;
    border: 1px solid #efca97 !important;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 0;
    top: 137px;
    left: 25px;
    z-index: 2;
    transform: translate(0);
    &:before{
      content: '';
      position: absolute;
      background: url(../img/sliedr-arrow.png) center center no-repeat;
      width: 40px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      left: 19px;
    }
  }
}
.portfolio-slide-img-container{
  box-sizing: border-box;
  border: 1px solid #efca97;
  margin: 5px 0;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border: 1px solid rgba(#efca97, 0.5);
    z-index: 2;
  }
}
.portfolio-slide-img{
  width: 100%;
}
.portfolio-sub-slider{
  padding: 0 27px;
  .slick-arrow{
    width: 27px;
    height: 100%;
    background-color: #202128;
  }
  .slick-prev{
    left: 0;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      width: 9px;
      height: 17px;
      background: url(../img/svg/product-arrow.svg) center center no-repeat;
      background-size: 100%;
    }
  }
  .slick-next{
    right: 0;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 17px;
      background: url(../img/svg/product-arrow.svg) center center no-repeat;
      background-size: 100%;
    }
  }
}
.portfolio-sub-slide-img{
  display: block;
  margin: 0 auto;
}
.portfolio-sub-slide{
  opacity: 0.2;
  transition: 0.3s;
  cursor: pointer;
  &.slick-current{
    opacity: 1;
    cursor: unset;
  }
}