.post-img{
  width: 100%;
  @media (max-width: 767px) {
    position: relative;
    z-index: 2;
  }
}
.post-block{
  width: 1230px;
  max-width: 100%;
  margin: -157px auto 24px;
  position: relative;
  box-sizing: border-box;
  padding: 52px 55px 45px;
  background-color: #24252c;
  @media (max-width: 1699px) {
    margin-top: 24px;
  }
  @media (max-width: 767px) {
    margin: -87px -15px 15px;
    padding: 111px 14px 30px;
    width: calc(100% + 30px);
    max-width: none;
  }
  p{
    font-family: $FiraSans;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #7f7976;
    margin-bottom: 52px;
    &:last-child{
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      margin-bottom: 45px;
    }
  }
  h1{
    font-family: $PlayfairDisplay;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 23px;
    }
  }
  h2{
    font-family: $FiraSans;
    margin-bottom: 54px;
    font-size: 26px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    @media (max-width: 767px) {
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
    }
  }
  blockquote {
    padding-left: 40px;
    margin-bottom: 56px;
    font-family: $FiraSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #b2aba6;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: -26px;
      width: 57px;
      height: 46px;
      background: url(../img/scope.png) center center no-repeat;
      z-index: 0;
      @media (max-width: 767px) {
        left: -26px;
      }
    }
    span{
      position: relative;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      padding-left: 0;
      margin-bottom: 45px;
    }
  }
}
.author{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f7976;
  a{
    color: #efca97;
  }
}