.cart-bot{
  .status-left{
    padding-left: 0;
  }
  .status-row{
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  .status-right{
    width: 536px;
    max-width: 100%;
  }
}
.similar-products{
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
}
.block-name{
  font-family: $PlayfairDisplay;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efca97;
  margin-bottom: 55px;
  @media (max-width: 767px) {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    margin-bottom: 22px;
  }
}
.review{
  padding-top: 74px;
  padding-bottom: 68px;
  background-color: #1a1b20;
  margin-bottom: 86px;
  overflow: hidden;
  @media (max-width: 767px) {
    margin-bottom: 0;
    background-color: transparent;
    padding-top: 0;
  }
}
.review-row{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media (max-width: 1199px) {
    flex-direction: column;
  }
}
.review-block-name{
  font-family: $PlayfairDisplay;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  margin-bottom: 47px;
  @media (max-width: 767px) {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    margin-bottom: 35px;
  }
}
.review-form-name{
  font-family: $FiraSans;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  margin-bottom: 41px;
}
.review-form-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .review-label{
    width: 315px;
  }
}
.review-left{
  width: 620px;
  max-width: 100%;
  @media (max-width: 1699px) {
    width: 470px;
  }
  @media (max-width: 1199px) {
    width: 100%;
    margin-bottom: 25px;
  }
}
.review-label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 25px;
  &.mod-ml{
    margin-left: 30px;
  }
}
.review-label-text{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
  margin-bottom: 10px;
}
.input{
  width: 100%;
  height: 50px;
  border: solid 1px rgba(#efca97, 0.2);
  background-color: #1a1b20;
  box-sizing: border-box;
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #fdefe6;
  text-indent: 20px;
  &::placeholder{
    color: #fdefe6;
  }
}
.textarea{
  width: 100%;
  height: 130px;
  border: solid 1px rgba(#efca97, 0.2);
  background-color: #1a1b20;
  box-sizing: border-box;
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
  resize: none;
  padding: 20px;
}
.review-stars-row{
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .star-checkbox{
    position: absolute;
    visibility: hidden;
  }
  .star{
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    svg{
      width: 20px;
      height: 20px;
      fill: #58514c;
    }
    &.hover{
      svg{
        fill: #efca97;
      }
    }
    &.selected{
      svg{
        fill: #efca97;
      }
    }
  }
}
.review-form-show{
  display: none;
  width: 100%;
  @media (max-width: 767px) {
    display: block;
  }
}
.review-form{
  @media (max-width: 767px) {
    display: none;
  }
  .btn{
    width: 255px;
    margin-top: 15px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
.review-right{
  width: 660px;
  position: relative;
  @media (max-width: 1699px) {
    width: 455px;
  }
  @media (max-width: 1199px) {
    width: 100%;
  }
}
.review-item{
  background-color: #26262a;
  width: 100%;
  box-sizing: border-box;
  padding: 28px;
  margin-bottom: 16px;
  position: relative;
  &:last-child{
    margin-bottom: 0;
  }
}
.review-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.review-head-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.review-item-name{
  font-family: $FiraSans;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
}
.review-item-date{
  margin-left: 14px;
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
}
.review-item-stars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.star-item{
  svg{
    width: 15px;
    height: 15px;
    fill: #58514c;
  }
  &.selected{
    svg{
      fill: #efca97;
    }
  }
}
.review-item-text{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
}
.load-more-review{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  padding-top: 16px;
  padding-left: 25px;
  text-decoration: underline;
  position: relative;
  @media (max-width: 767px) {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.review-bg-text{
  position: absolute;
  bottom: -60px;
  left: 210px;
  -webkit-text-stroke: 1px #efca97;
  font-family: PlayfairDisplay;
  font-size: 160.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  opacity: 0.1;
  color: rgba(239, 202, 151, 0.1);
  @media (max-width: 767px) {
    display: none;
  }
}
.product-text-block{
  @media (max-width: 767px) {
    text-align: center;
    height: 130px;
    overflow: hidden;
    position: relative;
    &.show{
      height: auto;
      .show-product-text{
        top: 100%;
        height: auto;
        overflow: visible;
        &:before{
          transform: translateX(-50%) rotate(-90deg);
        }
      }
    }
  }
}
.show-product-text{
  display: none;
  @media (max-width: 767px) {
    display: block;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to top, #14151a, rgba(20,21,26,0));
    left: 0;
    top: 60px;
    position: absolute;
    font-family: $FiraSans;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #b79d78;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 45px;
      transform: translateX(-50%) rotate(90deg);
      width: 9px;
      height: 17px;
      background: url(../img/svg/product-arrow.svg) center center no-repeat;
      background-size: 100%;
    }
  }
}
.product-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 67px;
  @media (max-width: 1199px) {
    flex-direction: column;
  }
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.product-left{
  width: 650px;
  @media (max-width: 1699px) {
    width: 470px;
  }
  @media (max-width: 1199px) {
    width: 100%;
    margin-bottom: 30px;
  }
  .product-sub-name{
    display: none;
    @media (max-width: 1199px) {
      display: block;
    }
    @media (max-width: 767px) {
      font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    }
  }
  .product-name{
    display: none;
    @media (max-width: 1199px) {
      display: block;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fdefe6;
    margin-bottom: 45px;
    }
  }
}
.product-img{
  @media (max-width: 1199px) {
    width: 100%;
  }
}
.product-img-container{
  box-sizing: border-box;
  position: relative;
  border: solid 1px #efca97;
  display: block;
  background: #000000;
  &:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border: 1px solid rgba(#efca97, 0.5);
    z-index: 2;
  }
  &.no-borders {
    border:none;
    background: transparent;
    &:before{
      display: none;
    }
  }
}
.product-slide{
  padding: 5px 0;
}
.product-slider{
  margin-bottom: 16px;
}
.product-sub-slider{
  padding: 0 27px;
  margin-bottom: 50px;
  @media (max-width: 1199px) {
    margin-bottom: 0;
  }
  .slick-arrow{
    width: 27px;
    height: 100%;
    background-color: #202128;
  }
  .slick-prev{
    left: 0;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      width: 9px;
      height: 17px;
      background: url(../img/svg/product-arrow.svg) center center no-repeat;
      background-size: 100%;
    }
  }
  .slick-next{
    right: 0;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 17px;
      background: url(../img/svg/product-arrow.svg) center center no-repeat;
      background-size: 100%;
    }
  }
}
.product-sub-img{
  display: block;
  margin: 0 auto
}
.product-sub-slide{
  opacity: 0.2;
  transition: 0.3s;
  &.slick-current{
    opacity: 1;
  }
  &:not(.slick-current) {
    cursor: pointer;
  }
}
.video-btn{
  width: 100%;
  height: 80px;
  border: solid 1px rgba(#efca97, 0.2);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #fdefe6;
  background: url(../img/video-btn-bg.jpg) center center no-repeat;
  background-size: cover;
  img{
    margin-right: 16px;
    display: block;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.product-right{
  width: 645px;
  h1 {
    margin-bottom: 20px;
  }
  @media (max-width: 1699px) {
    width: 455px;
  }
  @media (max-width: 1199px) {
    width: 100%;
  }
  .video-btn{
    display: none;
    @media (max-width: 1199px) {
      display: flex;
      margin-bottom: 33px;
    }
    @media (max-width: 767px) {
      height: 60px;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.56px;
      text-align: center;
      color: #fdefe6;
      img{
        width: 28px;
      }
    }
  }
}
.product-sub-name{
  font-family: $FiraSans;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  display: block;
  @media (max-width: 1199px) {
    display: none;
  }
}
.product-name{
  font-family: $PlayfairDisplay;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fdefe6;
  margin-bottom: 30px;
  @media (max-width: 1199px) {
    display: none;
  }
}
.product-price-block{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(#928883, 0.1);
  width: 100%;
  box-sizing: border-box;
  padding: 33px 45px;
  margin-bottom: 40px;
  @media (max-width: 1199px) {
    background-color: transparent;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 32px;
    padding: 0;
  }
  &:before{
    content: '';
    position: absolute;
    width: 45px;
    height: 100%;
    background-color: rgba(#928883, 0.1);
    right: 100%;
    top: 0;
    @media (max-width: 1199px) {
      display: none;
    }
  }
  .btn{
    width: 295px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
.product-price{
  font-family: $PlayfairDisplay;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #efca97;
  span{
    font-size: 24px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efca97;
    margin-bottom: 24px;
    span{
      font-size: 20px;
    }
  }
}
.product-tags-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media (max-width: 1699px) {
    justify-content: space-between;
  }
}
.product-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: solid 1px rgba(#efca97, 0.2);
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #fdefe6;
  @media (max-width: 1699px) {
    width: calc(50% - 5px);
    margin-right: 0;
  }
  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: center;
    color: #fdefe6;
  }
}
.product-text{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #7f7976;
  > p {
    margin-bottom: 22px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
.product-tag-name{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #fdefe6;
  margin-bottom: 18px;
  width: 100%;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.btn-secondary {
  position: relative;
  transition: all .5s ease;
  &:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid transparent;
    transition: all .3s ease;
  }
  &:hover {
    text-decoration: none;
    &:before {
      transform: scale(0.95, 1.25);
      border-color: #efca97;
    }
  }
}

.remodal-overlay{
  background: rgba(#000000, 0.8);
}
.call-modal{
  width: 560px;
  max-width: 100%;
  border: solid 1px #efca97;
  background-color: #14151a;
  box-sizing: border-box;
  padding: 70px;
  &:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border: 1px solid rgba(#efca97, 0.5);
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
  .recall-form{
    width: 100%;
  }
}
.recall-modal{
  width: 960px;
  max-width: 100%;
  border: solid 1px #efca97;
  background-color: #14151a;
  box-sizing: border-box;
  padding: 70px;
  &:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border: 1px solid rgba(#efca97, 0.5);
  }
  @media (max-width: 1250px) {
    width: 560px;
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
}
.remodal-close{
  width: 17px;
  height: 18px;
  background: url(../img/close.png) center center no-repeat;
  left: auto;
  right: -25px;
  top: -25px;
  &:before{
    display: none;
  }
  @media (max-width: 767px) {
    right: 0;
  }
}
.recall-modal-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recall-img-container{
  border: solid 1px #efca97;
  box-sizing: border-box;
  margin-left: -155px;
  &:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border: 1px solid rgba(#efca97, 0.5);
  }
  @media (max-width: 1250px) {
    display: none;
  }
}
.recall-form{
  width: 420px;
  max-width: 100%;
  position: relative;
  .product-sub-name{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    @media (max-width: 767px) {
      display: block;
    }
  }
  .product-name{
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 35px;
    @media (max-width: 767px) {
      display: block;
    }
  }
  .input{
    max-width: 100%;
    width: 375px;
    text-indent: 83px;
    margin-bottom: 20px;
  }
  .btn{
    width: 375px;
    max-width: 100%;
  }
}
.recall-form-text{
  font-family: $FiraSans;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #fdefe6;
  margin-bottom: 48px;
}
.alert {
  margin-top: 45px;
}
.alert-danger {
  color:#8c5555;
}
.alert-success {
  color:#ffffff;
}
.recall-img {
  max-width: 490px;
  background: #000000;
}