$base64-png: "image/png;base64";
$base64-jpg: "image/jpeg;base64";
$base64-svg: "image/svg+xml;base64";

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

// +font-face('font-icon', 'fonts/font-icon/font-icon', 'font-icon')

// +font-face('AvenirNextCyr-Regular', '../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular', 'AvenirNextCyr-Regular', normal)

@include font-face("FiraSans", "../fonts/FiraSans-Light/FiraSans-Light", "FiraSans-Light", 300);
@include font-face("PlayfairDisplay", "../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold", "PlayfairDisplay-Bold", bold);
@include font-face("PlayfairDisplay", "../fonts/PlayfairDisplay-Medium/PlayfairDisplay-Medium", "PlayfairDisplay-Medium", 500);

$FiraSans: 'FiraSans', $default-font;
$PlayfairDisplay: 'PlayfairDisplay', $default-font;


// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue;