<header id="header" class="wrapper header">
  <span class="header-item">
    <a href="#" class="header-link">Элитные номера</a>
    <span class="header-sublist">
      <a href="#" class="header-sublist-link">Lifecell</a>
      <a href="#" class="header-sublist-link">Vodafone</a>
      <a href="#" class="header-sublist-link">Kyivstar</a>
    </span>
  </span>
  <span class="header-item">
    <a href="#" class="header-link">Эксклюзивные телефоны Apple</a>
  </span>
  <span class="header-item">
    <a href="#" class="header-link">Эксклюзивные часы</a>
  </span>
  <span class="header-item">
    <a href="#" class="header-link">Аксессуары</a>
  </span>
  <span class="header-item">
    <a href="#" class="header-link">Подарочные сертификаты</a>
  </span>
</header>