<div class="remodal recall-modal" id="recall-modal" data-remodal-id="recall-modal">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="recall-modal-row">
    <div class="recall-img-container">
      <img class="recall-img" src="assets/img/recall.jpg" alt="">
    </div>
    <form action="#" class="recall-form">
      <p class="product-sub-name">Элитный iPhone XS 256GB Platinum</p>
      <h3 class="product-name">Classic Ornate Aristocrate</h3>
      <p class="recall-form-text">Укажите Ваш номер телефона и мы свяжемся с Вами в течении 2-х часов. Если заявка отправлена не в бизнес-время, мы перезвоним Вам на следущий день</p>
      <input type="tel" class="input" placeholder="+38 (          )" data-inputmask="'mask': '+9{1,2} (999) 999 99 99'">
      <button type="submit" class="btn">Оставить заявку</button>
    </form>
  </div>
</div>

<div class="remodal call-modal" id="call-modal" data-remodal-id="call-modal">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <form action="#" class="recall-form">
    <h3 class="product-name">Обратный звонок</h3>
    <p class="recall-form-text">Укажите Ваш номер телефона и мы свяжемся с Вами в течении 2-х часов. Если заявка отправлена не в бизнес-время, мы перезвоним Вам на следущий день</p>
    <input type="tel" class="input" placeholder="+38 (          )" data-inputmask="'mask': '+9{1,2} (999) 999 99 99'">
    <button type="submit" class="btn">Оставить заявку</button>
  </form>
</div>