<div class="nav">
  <a href="#" class="logo-link">
    <img class="logo" src="assets/img/logo.png" alt="">
  </a>
  <button type="button" class="menu-button">
    <span class="menu-button-line"></span>
  </button>
  <div class="languages-list">
    <a href="#" class="language-link">ENG</a>
    <a href="#" class="language-link active">РУС</a>
  </div>
  <div class="header-menu">
    <div class="menu-top-row">
      <button type="button" class="menu-top-btn">
        <img class="menu-top-btn-img" src="assets/img/menu-1.jpg" alt="">
        <div class="menu-top-btn-block">
          <p class="menu-top-btn-text">Эксклюзивные<br> телефоны</p>
        </div>
      </button>
      <button type="button" class="menu-top-btn">
        <img class="menu-top-btn-img" src="assets/img/menu-2.jpg" alt="">
        <div class="menu-top-btn-block">
          <p class="menu-top-btn-text">Эксклюзивные<br> телефоны</p>
        </div>
      </button>
      <button type="button" class="menu-top-btn">
        <img class="menu-top-btn-img" src="assets/img/menu-3.jpg" alt="">
        <div class="menu-top-btn-block">
          <p class="menu-top-btn-text">Эксклюзивные<br> телефоны</p>
        </div>
      </button>
      <button type="button" class="menu-top-btn">
        <img class="menu-top-btn-img" src="assets/img/menu-4.jpg" alt="">
        <div class="menu-top-btn-block">
          <p class="menu-top-btn-text">Эксклюзивные<br> телефоны</p>
        </div>
      </button>
    </div>
    <div class="menu-top-m">
      <span class="nav-item">
        <a href="#" class="nav-link">Элитные номера</a>
        <span class="nav-sublist">
          <a href="#" class="nav-sublist-link">Lifecell</a>
          <a href="#" class="nav-sublist-link">Vodafone</a>
          <a href="#" class="nav-sublist-link">Kyivstar</a>
        </span>
      </span>
      <span class="nav-item">
        <a href="#" class="nav-link">Эксклюзивные телефоны Apple</a>
        <span class="nav-sublist">
          <a href="#" class="nav-sublist-link">iiPhone 11 Pro Max</a>
          <a href="#" class="nav-sublist-link">iPhonne XS Max</a>
        </span>
      </span>
      <span class="nav-item">
        <a href="#" class="nav-link">Эксклюзивные часы</a>
        <span class="nav-sublist">
          <a href="#" class="nav-sublist-link">Apple Watch 5</a>
          <a href="#" class="nav-sublist-link">Samsung Watch</a>
        </span>
      </span>
      <span class="nav-item">
        <a href="#" class="nav-link">Аксессуары</a>
        <span class="nav-sublist">
          <a href="#" class="nav-sublist-link">Эксклюзивные кейсы</a>
          <a href="#" class="nav-sublist-link">Эксклюзивные чехлы</a>
          <a href="#" class="nav-sublist-link">Эксклюзивные ремешки</a>
        </span>
      </span>
      <span class="nav-item">
        <a href="#" class="nav-link">Подарочные сертификаты</a>
      </span>
    </div>
    <div class="menu-bottom">
      <a href="#" class="menu-bottom-link">Новости</a>
      <a href="#" class="menu-bottom-link">Портфолио</a>
      <a href="#" class="menu-bottom-link">Про компанию</a>
    </div>
    <div class="menu-bottom-left">
      <div class="menu-bottom-left-block">
        <p class="menu-bottom-left-text">Центр поддержки (с 9:00 до 20:00):</p>
        <a href="tel:+380970000004" class="menu-bottom-left-link">+38 097 000 00 04</a>
      </div>
      <button data-remodal-target="call-modal" type="button" class="btn">Заказать звонок</button>
    </div>
  </div>
</div>