<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="catalogue about">
      <div class="container">
        <ul class="bredcrumbs">
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Главная</a>
          </li>
          <li class="bredcrumbs-item">
            <span class="bredcrumbs-last">Про компанию</span>
          </li>
        </ul>
      </div>
      <div class="about-container">
        <div class="container">
            <h2 class="page-name">Компания VipStatus</h2>
          <p class="about-bg-text">VipStatus</p>
          <p class="about-text">Ювелирные произведения ценились во все времена, они говорили о достатке и авторитете своих владельцев. В современном мире эта роль досталась функциональным модным гаджетам. Поэтому мы объединили вечное и трендовое, связали драгоценности и конструктив. Так появился VipStatus - превращение персональных гаджетов в произведение с единственным в своем роде ювелирным дизайном.<br>
            <br>
            Над созданием каждой модели  VipStatus трудятся дизайнеры, инженеры и ювелиры. Они покрывают благородными металлами, инкрустируют драгоценными камнями, обтягивают кожей и/или раритетными породами дерева - чтобы сочетание благородных и ценных материалов стало единым целым. Шедевром, который дарит эстетическое, тактильное и эмоциональное наслаждение своему обладателю.<br> <br>
            Эксклюзивный дизайн в лаборатории  VipStatus сродни алхимии. Мы так же увлечены красотой и тайнами драгоценных веществ, только вместо философского камня нам служит наше чувство прекрасного и многолетний опыт работы с ювелирными изделиями. Каждая модель в нашей коллекции обладает уникальными физическими и эстетическими свойствами. Но если вы хотите воплотить собственную фантазию, мы выполним персональный дизайн вашего iPhone, iPad или другого смартфона, планшета, электронных часов.</p>
          <div class="post-block">
            <h2>История создания Бренда</h2>
            <blockquote><span>В знаменитом фильме "Джентльмены предпочитают блондинок", где Мэрилин Монро поет, что бриллианты - лучшие друзья девушек, в припеве она перечисляет названия легендарных ювелирных марок: ...Tiffany's...Cartier… А затем добавляет: “Ричард Голдман расскажет мне все о них!". Кто этот загадочный Ричард и почему в разные времена бриллианты ассоциировались именно с его именем?</span></blockquote>
            <p>Ричард Голдман (Richard Goldman) родился в небогатой семье в Вулидже, рабочем районе Лондона. С ранних лет мальчик интересовался металлами и минералами, особенно камнями. В 12 лет он, зайдя в ломбард, распознал за 25-центным камнем изумруд в два карата.<br><br>
              В 24 года Ричард открыл собственную мастерскую. На тот момент единственное, что он мог себе позволить – покупать на аукционах фамильные драгоценности мелких английских аристократов. Это были преимущественно старомодные украшения, которые богачи уже не желали надевать. Ричард вынимал из них драгоценные камни, переплавлял металлы и компоновал их в совершенно новом дизайне.<br><br>
              В 1847 году в возрасте 33 лет Ричард Голдман стал хозяином мастерской своего учителя в Вест-Энде. Под его руководством мастерская росла, и в 1853 году начала выпускать ювелирные украшения для частных клиентов, в том числе и весьма титулованных. В 1859 мастерская переехала по адресу 42 Old Bond street, в самое сердце модного Лондона.<br><br>
              С тех пор и по сегодняшний день Ричард Голдман известен как единственный в своем роде мастер-новатор, который стремился самостоятельно создавать ювелирную моду, а не следовать ей. Он обладал даром чувствовать новые тенденции, изобрел несколько уникальных сочетаний для своих украшений. Чтобы усилить сверкание бриллиантов, использовал тончайшие нити платины.<br><br>
              Принц Уэльский, будущий король Эдуард VII, восхищенный искусством Голдмана, однажды назвал его "королем ювелиров, ювелиром королей!". Так началась ответственная служба Ричарда на должности королевского ювелира. Помимо ухода за главным символом британской монархии - короной, которая хранится в королевской сокровищнице в Тауэре, в его обязанности входил выбор и изготовления украшений для торжественных случаев<br><br>
              Многие драгоценности, которые сегодня хранятся в английской королевской сокровищнице, созданы “золотыми” руками Голдмана. Например, кольцо из белого золота с огромным сапфиром, украшенным 18-ю бриллиантами, которое через много лет было выбрано на помолвку принцессы Дианы. А теперешняя герцогиня Кембриджская Кэтрин регулярно надевает в свет потрясающие украшения из королевской сокровищницы. Ведь принц Уильям сделал предложение Кейт, вручив ей кольцо матери из белого золота, украшенное 12-каратным сапфиром в окружении 14 бриллиантов. Следуя королевской традиции, обручальное кольцо герцогини было сделано из уэльского желтого золота, месторождения которого принадлежат королевской семье.<br><br>
              Но, к сожалению, королевские традиции очень консервативны. А творческий гений ювелира требовал реализации, которой он не мог дать волю, создавая шедевры для принцесс и герцогов. Зато дети и внуки Голдмана, которые унаследовали его талант и чувство прекрасного и тоже стали гениальными ювелирами, продолжили его дело и вдохнули в него стиль нового времени.<br><br>
              Марка  VipStatus родилась в мастерской Голдман. От старинных ювелирных изделий до современных произведений искусства мастерство Голдмана считается эталоном английского ювелирного искусства. Имя создателя великой династии мастеров пересекло века, нисколько не утратив блеска своей славы. Именно традиции, многовековая приверженность качеству и уникальности, были и остаются неоспоримыми преимуществами королевского ювелирного дела. При этом Aurum Edition, как детище ХХI века, сочетает в себе традиции ювелирного качества и современный, трендовый, иногда немного дерзкий, но всегда безупречно стильный дизайн.<br><br>
              Новые коллекции без сомнений, как и все, что создает дом Голдман, войдут в ювелирную историю. Вы можете стать обладателем уникального произведения, созданного по королевским канонам в духе сегодняшнего дня.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
