<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="catalogue">
      <div class="container">
        <ul class="bredcrumbs">
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Главная</a>
          </li>
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Эксклюзивные телефоны Apple</a>
          </li>
          <li class="bredcrumbs-item">
            <span class="bredcrumbs-last">Apple Iphone 11 Pro MAX</span>
          </li>
        </ul>
        <h2 class="page-name">Apple iPhone 11 Pro Max </h2>
        <div class="catalogue-row">
          <a href="#" class="catalogue-item">
            <div class="catalogue-img-container">
              <img class="catalogue-img" src="assets/img/catalogue-1.jpg" alt="">
            </div>
            <p class="catalogue-name">Eastern Wisdom</p>
          </a>
          <a href="#" class="catalogue-item">
            <div class="catalogue-img-container">
              <img class="catalogue-img" src="assets/img/catalogue-2.jpg" alt="">
            </div>
            <p class="catalogue-name">Platinum Carbon Eye</p>
          </a>
          <a href="#" class="catalogue-item">
            <div class="catalogue-img-container">
              <img class="catalogue-img" src="assets/img/catalogue-3.jpg" alt="">
            </div>
            <p class="catalogue-name">Carbon Bitcoin</p>
          </a>
          <a href="#" class="catalogue-item">
            <div class="catalogue-img-container">
              <img class="catalogue-img" src="assets/img/catalogue-4.jpg" alt="">
            </div>
            <p class="catalogue-name">Classic Ornate Aristocrate</p>
          </a>
          <a href="#" class="catalogue-item">
            <div class="catalogue-img-container">
              <img class="catalogue-img" src="assets/img/catalogue-5.jpg" alt="">
            </div>
            <p class="catalogue-name">Cartier Tiger Edition</p>
          </a>
          <a href="#" class="catalogue-item">
            <div class="catalogue-img-container">
              <img class="catalogue-img" src="assets/img/catalogue-6.jpg" alt="">
            </div>
            <p class="catalogue-name">Jungle Hunting Solid Gold Edition</p>
          </a>
        </div>
        <button type="button" class="load-more">
          <span class="load-more-text">Показать еще 6 товаров</span>
          <span class="load-more-count">показано 6 из 18</span>
        </button>
        <ul class="pagination">
          <!-- <li class="pagination-item">
            <a href="#" class="pagination-arrow">
              <svg version="1.1" id="Layer_1" fill="#efca97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.995 511.995" style="enable-background:new 0 0 511.995 511.995;" xml:space="preserve">
<g>
	<g>
		<path d="M381.039,248.62L146.373,3.287c-4.083-4.229-10.833-4.417-15.083-0.333c-4.25,4.073-4.396,10.823-0.333,15.083
			L358.56,255.995L130.956,493.954c-4.063,4.26-3.917,11.01,0.333,15.083c2.063,1.979,4.729,2.958,7.375,2.958
			c2.813,0,5.604-1.104,7.708-3.292L381.039,263.37C384.977,259.245,384.977,252.745,381.039,248.62z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </a>
          </li> -->
          <li class="active">
            <span>1</span>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li class="pagination-next">
            <a href="#">
              <svg version="1.1" id="Layer_1" fill="#efca97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.995 511.995" style="enable-background:new 0 0 511.995 511.995;" xml:space="preserve"> <g> <g> <path d="M381.039,248.62L146.373,3.287c-4.083-4.229-10.833-4.417-15.083-0.333c-4.25,4.073-4.396,10.823-0.333,15.083 L358.56,255.995L130.956,493.954c-4.063,4.26-3.917,11.01,0.333,15.083c2.063,1.979,4.729,2.958,7.375,2.958 c2.813,0,5.604-1.104,7.708-3.292L381.039,263.37C384.977,259.245,384.977,252.745,381.039,248.62z"/> </g> </g> </svg>
            </a>
          </li>
        </ul>
        <div class="catalogue-bot-block">
          <h3 class="catalogue-bot-name">Эксклюзивный Apple iPhone 11 Pro Max </h3>
          <p class="catalogue-bot-text">В последнее время появляется все больше компаний, которые меняют обычные корпуса iPhone на эксклюзивные дизайнерские разработки, сочетая премиальные материалы типа кожи, драгоценных металлов и даже бриллиантов. За счет этого смартфон становится действительно дорогой и статусной вещью, а у покупателя нет необходимости ограничивать свой выбор парой-тройкой брендов, занимающихся разработкой люксовых мобильных устройств типа Vertu. Один из таких примеров — киевская компания Aurum Edition.</p>
        </div>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
