<include src="../chunks/head.html"></include>
<body class="index">
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <div class="lines-container">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div id="full-page" class="fullpage-wrapper">
      <section class="section main" data-anchor="main">
        <div class="m-main-slider">
          <div class="main-slide" style="background: url(assets/img/first-bg.jpg) center right -200px no-repeat; background-size: cover;">
            <div class="main-text-block">
              <p class="main-subname">Эксклюзивные смартфоны</p>
              <h2 class="main-name">Apple iPhone 11</h2>
              <a href="#" class="btn">Подробнее</a>
            </div>
          </div>
          <div class="main-slide" style="background: url(assets/img/first-bg.jpg) center right -200px no-repeat; background-size: cover;">
            <div class="main-text-block">
              <p class="main-subname">Эксклюзивные смартфоны</p>
              <h2 class="main-name">Apple iPhone 11</h2>
              <a href="#" class="btn">Подробнее</a>
            </div>
          </div>
          <div class="main-slide" style="background: url(assets/img/first-bg.jpg) center right -200px no-repeat; background-size: cover;">
            <div class="main-text-block">
              <p class="main-subname">Эксклюзивные смартфоны</p>
              <h2 class="main-name">Apple iPhone 11</h2>
              <a href="#" class="btn">Подробнее</a>
            </div>
          </div>
          <div class="main-slide" style="background: url(assets/img/first-bg.jpg) center right -200px no-repeat; background-size: cover;">
            <div class="main-text-block">
              <p class="main-subname">Эксклюзивные смартфоны</p>
              <h2 class="main-name">Apple iPhone 11</h2>
              <a href="#" class="btn">Подробнее</a>
            </div>
          </div>
        </div>
        <button type="button" class="go-next" data-my-anchor="numbers">
          <img class="go-next-arrow" src="assets/img/arrow-bot.png" alt="">
          <span class="go-next-text">Элитные номера</span>
          <span class="circle">
            <span class="third-circle"></span>
          </span>
        </button>
      </section>
      <section class="section numbers" data-anchor="numbers">
        <div class="numbers-row">
          <div class="numbers-left">
            <h2 class="section-name">Элитные номера</h2>
            <p class="numbers-text">Прежде всего, красивый номер телефона подчеркнет <br>Вашу индивидуальность. По скольку он будет отличаться<br>от всех других номеров ваших знакомых и коллег. <br>Вы можете использовать парные, последовательные <br>числа, которые привлекут внимание людей <br>и легко запомнятся.</p>
            <button type="button" class="btn">Все элитные номера</button>
          </div>
          <div class="numbers-right">
            <img class="golden_feather" src="assets/img/clock-bg.png" alt="">
            <div class="buttons-row">
              <button type="button" class="slider-button" data-filter=".life">lifecell</button>
              <button type="button" class="slider-button" data-filter=".voda">vodafone</button>
              <button type="button" class="slider-button" data-filter=".kyiv">kyivstar</button>
            </div>
            <div class="numbers-slider wow slideInRight">
              <div class="numbers-slide life">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number-2.png" alt="">
                  <p class="numbers-slide-number">+38093XXXXXX1</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide voda">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number.png" alt="">
                  <p class="numbers-slide-number">+38050XXXXX1</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide kyiv">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number-3.png" alt="">
                  <p class="numbers-slide-number">+38067XXXXXX1</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide life">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number-2.png" alt="">
                  <p class="numbers-slide-number">+38093XXXXXX2</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide voda">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number.png" alt="">
                  <p class="numbers-slide-number">+38050XXXXX2</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide kyiv">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number-3.png" alt="">
                  <p class="numbers-slide-number">+38067XXXXXX2</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide life">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number-2.png" alt="">
                  <p class="numbers-slide-number">+38093XXXXXX3</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide voda">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number.png" alt="">
                  <p class="numbers-slide-number">+38050XXXXX3</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
              <div class="numbers-slide kyiv">
                <div class="numbers-slide-container">
                  <img class="numbers-slide-img" src="assets/img/number-3.png" alt="">
                  <p class="numbers-slide-number">+38067XXXXXX3</p>
                </div>
                <a href="#" class="phones-bot-right-btn" tabindex="0">Подробнее</a>
              </div>
            </div>
            <a href="#" class="btn">Все элитные номера</a>
            <div class="numbers-right-bot">
              <img class="numbers-right-bot-img" src="assets/img/cristal.png" alt="">
              <p class="numbers-right-bot-text">Подчеркни свою<br> индивидуальность!</p>
            </div>
          </div>
        </div>
        <button type="button" class="go-next" data-my-anchor="phones">
          <img class="go-next-arrow" src="assets/img/arrow-bot.png" alt="">
          <span class="go-next-text">Эксклюзивный телефон Apple</span>
          <span class="circle">
            <span class="third-circle"></span>
          </span>
        </button>
      </section>
      <section class="section phones" data-anchor="phones">
        <div class="numbers-row">
          <div class="numbers-left">
            <h2 class="section-name">Эксклюзивные<br> смартфоны Apple</h2>
            <p class="numbers-text">Прежде всего, красивый номер телефона подчеркнет <br>Вашу индивидуальность. По скольку он будет отличаться<br> от всех других номеров ваших знакомых и коллег.</p>
            <a href="#" class="btn">Все эксклюзивные смартфоны</a>
          </div>
          <div class="phones-right wow slideInRight">
            <div class="phones-slider">
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text wow slideInDown" data-wow-delay="0.5s">Oriental</p>
                  <p class="phones-bg-text mod-bot wow slideInUp" data-wow-delay="0.5s">Dragon</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/phone.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Oriental<br> Dragon</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Black</p>
                  <p class="phones-bg-text mod-bot">Shadow</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/phone-2.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Black<br> Shadow</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Queen</p>
                  <p class="phones-bg-text mod-bot">Diamond</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/phone-3.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Queen<br> Diamond</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Night </p>
                  <p class="phones-bg-text mod-bot">Onyx</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/phone-4.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Night<br> Onyx</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Young</p>
                  <p class="phones-bg-text mod-bot">Wolf</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/phone-5.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Young<br> Wolf</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="all-products">Все эксклюзивные смартфоны</a>
            <div class="phones-bot-left">Эксклюзивный VIP<br>смартфон укажет<br>на Ваш статус!</div>
          </div>
        </div>
        <button type="button" class="go-next" data-my-anchor="clock">
          <img class="go-next-arrow" src="assets/img/arrow-bot.png" alt="">
          <span class="go-next-text">Эксклюзивные часы</span>
          <span class="circle">
            <span class="third-circle"></span>
          </span>
        </button>
      </section>
      <section class="section clock" data-anchor="clock">
        <div class="numbers-row">
          <div class="numbers-left wow fadeInUp">
            <h2 class="section-name">Эксклюзивные часы</h2>
            <p class="numbers-text">Эти неподражаемые часы отличается непревзойденно<br> художественной гравировкой, выполненной выдающимся<br> мастером-гравером</p>
            <a href="#" class="btn">Все эксклюзивные часы</a>
          </div>
          <div class="phones-right">
            <div class="phones-slider">
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text wow slideInDown">Chief Counsel</p>
                  <p class="phones-bg-text mod-bot"></p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg wow fadeInDown" src="assets/img/clock-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/clock.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Chief<br> Counsel</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Monarch</p>
                  <p class="phones-bg-text mod-bot">Counsel</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/clock-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/clock-2.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Monarch<br> Counsel</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Queen's</p>
                  <p class="phones-bg-text mod-bot">Counsel</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/clock-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/clock-3.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Queen's<br> Counsel</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Skull Gold</p>
                  <p class="phones-bg-text mod-bot">Watch 5</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/clock-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/clock-4.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Skull Gold<br> Watch 5</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Louis</p>
                  <p class="phones-bg-text mod-bot">Vuitton</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/clock-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/clock-5.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Louis<br> Vuitton</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="all-products">Все эксклюзивные часы</a>
          </div>
        </div>
        <button type="button" class="go-next" data-my-anchor="accessory">
          <img class="go-next-arrow" src="assets/img/arrow-bot.png" alt="">
          <span class="go-next-text">Аксессуары Apple</span>
          <span class="circle">
            <span class="third-circle"></span>
          </span>
        </button>
      </section>
      <section class="section phones" data-anchor="accessory">
        <div class="numbers-row">
          <div class="numbers-left">
            <h2 class="section-name">Аксессуары Apple</h2>
            <p class="numbers-text">Эти неподражаемые часы отличается непревзойденно<br> художественной гравировкой, выполненной выдающимся<br> мастером-гравером</p>
            <a href="#" class="btn">Все эксклюзивные часы</a>
          </div>
          <div class="phones-right">
            <div class="phones-slider">
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text wow slideInDown">iPhone X</p>
                  <p class="phones-bg-text mod-bot wow slideInUp">Case</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img wow fadeIn" src="assets/img/accessory.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">iPhone X<br> Case</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">iPhone</p>
                  <p class="phones-bg-text mod-bot">Case Красный</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/accessory-2.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">iPhone Case<br> Красный</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text">Black</p>
                  <p class="phones-bg-text mod-bot">Out Strap</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/accessory-3.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Black Out<br> Strap</p>
                    <a href="#"class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="phones-slide">
                <div class="phones-slide-container">
                  <p class="phones-bg-text mod-pl-0">Strawberry</p>
                  <p class="phones-bg-text mod-bot">Strap</p>
                  <div class="phones-images-block">
                    <img class="phones-right-img-bg" src="assets/img/phone-bg.png" alt="">
                    <img class="phones-right-img" src="assets/img/accessory-4.png" alt="">
                  </div>
                  <div class="phones-bot-right">
                    <p class="phones-bot-right-text">Strawberry<br> Strap</p>
                    <a href="#" class="phones-bot-right-btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="all-products">Все эксклюзивные аксессуары</a>
            <div class="phones-bot-left">Премиальный<br> аксессуар обратит<br> внимание окружающих</div>
          </div>
        </div>
        <button type="button" class="go-next" data-my-anchor="status">
          <img class="go-next-arrow" src="assets/img/arrow-bot.png" alt="">
          <span class="go-next-text">Vip Status</span>
          <span class="circle">
            <span class="third-circle"></span>
          </span>
        </button>
      </section>
      <section class="section status" data-anchor="status">
        <div class="status-row">
          <div class="status-left">
            <p class="phones-bg-text wow slideInDown">Exclusive</p>
            <p class="phones-bg-text wow slideInUp">VIPStatus</p>
            <img class="status-img-floating wow fadeInDown" src="assets/img/status_floating_img.png" alt="">
            <img class="status-img wow slideInLeft" src="assets/img/status.png" alt="">
            <a href="#" class="btn">Выбрать подарочный сертификат</a>
          </div>
          <div class="status-right wow fadeInUp">
            <p class="status-item">Качественная техника - <span>это комфортно</span><br> Серия limited edition - <span>это престижно</span></p>
            <p class="status-text">Но только  VipStatus говорит о настоящем<br> стиле и подлинной ценности</p>
            <a href="#" class="btn">Выбрать подарочный сертификат</a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
