<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="catalogue">
      <div class="container">
        <ul class="bredcrumbs">
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Главная</a>
          </li>
          <li class="bredcrumbs-item">
            <span class="bredcrumbs-last">Новости</span>
          </li>
        </ul>
        <h2 class="page-name mod-news">Новости</h2>
        <div class="news-row">
          <div class="news-item">
            <div class="news-item-row">
              <div class="news-item-img-container">
                <img class="news-item-img" src="assets/img/news-1.jpg" alt="">
              </div>
              <div class="news-item-text-block">
                <h3 class="news-item-name">Обзор новой коллекции телефонов в Cult of Mac</h3>
                <p class="news-item-text">Становится все сложнее удивить кого-то своим смартфоном. Дизайн мобильных устройств начинает выглядеть все более утилитарным, теряя необычные дизайнерские решения в пользу  ...</p>
                <a href="#" class="news-item-link">Подробнее <img src="assets/img/news-arrow.png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-row">
              <div class="news-item-img-container">
                <img class="news-item-img" src="assets/img/news-2.jpg" alt="">
              </div>
              <div class="news-item-text-block">
                <h3 class="news-item-name">Эксклюзивный IPhone Aurum Edition футболиста Евгения Коноплянки</h3>
                <p class="news-item-text">Дизайн мобильных устройств начинает выглядеть все более утилитарным, теряя необычные дизайнерские решения  ...</p>
                <a href="#" class="news-item-link">Подробнее <img src="assets/img/news-arrow.png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-row">
              <div class="news-item-img-container">
                <img class="news-item-img" src="assets/img/news-3.jpg" alt="">
              </div>
              <div class="news-item-text-block">
                <h3 class="news-item-name">Обзор новой коллекции телефонов в Cult of Mac</h3>
                <p class="news-item-text">Становится все сложнее удивить кого-то своим смартфоном. Дизайн мобильных устройств начинает выглядеть все более утилитарным, теряя необычные дизайнерские решения в пользу  ...</p>
                <a href="#" class="news-item-link">Подробнее <img src="assets/img/news-arrow.png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-row">
              <div class="news-item-img-container">
                <img class="news-item-img" src="assets/img/news-4.jpg" alt="">
              </div>
              <div class="news-item-text-block">
                <h3 class="news-item-name">Обзор новой коллекции телефонов в Cult of Mac</h3>
                <p class="news-item-text">Становится все сложнее удивить кого-то своим смартфоном. Дизайн мобильных устройств начинает выглядеть все более утилитарным, теряя необычные дизайнерские решения в пользу  ...</p>
                <a href="#" class="news-item-link">Подробнее <img src="assets/img/news-arrow.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="load-more">
          <span class="load-more-text">Показать еще 4 новости</span>
          <span class="load-more-count">показано 4 из 9</span>
        </button>
        <ul class="pagination">
          <!-- <li class="pagination-item">
            <a href="#" class="pagination-arrow">
              <svg version="1.1" id="Layer_1" fill="#efca97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.995 511.995" style="enable-background:new 0 0 511.995 511.995;" xml:space="preserve">
<g>
	<g>
		<path d="M381.039,248.62L146.373,3.287c-4.083-4.229-10.833-4.417-15.083-0.333c-4.25,4.073-4.396,10.823-0.333,15.083
			L358.56,255.995L130.956,493.954c-4.063,4.26-3.917,11.01,0.333,15.083c2.063,1.979,4.729,2.958,7.375,2.958
			c2.813,0,5.604-1.104,7.708-3.292L381.039,263.37C384.977,259.245,384.977,252.745,381.039,248.62z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </a>
          </li> -->
          <li class="pagination-item">
            <a href="#" class="pagination-link active">1</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">2</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">3</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-arrow">
              <svg version="1.1" id="Layer_1" fill="#efca97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.995 511.995" style="enable-background:new 0 0 511.995 511.995;" xml:space="preserve">
<g>
	<g>
		<path d="M381.039,248.62L146.373,3.287c-4.083-4.229-10.833-4.417-15.083-0.333c-4.25,4.073-4.396,10.823-0.333,15.083
			L358.56,255.995L130.956,493.954c-4.063,4.26-3.917,11.01,0.333,15.083c2.063,1.979,4.729,2.958,7.375,2.958
			c2.813,0,5.604-1.104,7.708-3.292L381.039,263.37C384.977,259.245,384.977,252.745,381.039,248.62z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
