<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="catalogue">
      <div class="container">
        <ul class="bredcrumbs">
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Главная</a>
          </li>
          <li class="bredcrumbs-item">
            <span class="bredcrumbs-last">Портфолио</span>
          </li>
        </ul>
        <div class="portfolio-slider">
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-slide">
            <div class="portfolio-slide-img-container">
              <img class="portfolio-slide-img" src="assets/img/portfolio.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="portfolio-sub-slider">
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-1.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-2.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-3.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-4.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-5.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-6.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-7.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-8.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-9.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-sub-slide">
            <div class="portfolio-sub-slide-img-container">
              <img class="portfolio-sub-slide-img" src="assets/img/portfolio-s-1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
