<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="catalogue">
      <div class="container">
        <ul class="bredcrumbs">
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Главная</a>
          </li>
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Новости</a>
          </li>
          <li class="bredcrumbs-item">
            <span class="bredcrumbs-last">Обзор новой коллекции телефонов в Cult of Mac</span>
          </li>
        </ul>
        <div class="post-container">
          <img class="post-img" src="assets/img/post.jpg" alt="">
          <div class="post-block">
            <h1>Обзор новой коллекции телефонов в Cult of Mac</h1>
            <p>В последнее время появляется все больше компаний, которые меняют обычные корпуса iPhone на эксклюзивные дизайнерские разработки, сочетая премиальные материалы типа кожи, драгоценных металлов и даже бриллиантов. За счет этого смартфон становится действительно дорогой и статусной вещью, а у покупателя нет необходимости ограничивать свой выбор парой-тройкой брендов, занимающихся разработкой люксовых мобильных устройств типа Vertu. Один из таких примеров — киевская компания Aurum Edition.</p>
            <blockquote><span>Становится все сложнее удивить кого-то своим смартфоном. Дизайн мобильных устройств начинает выглядеть все более утилитарным, теряя необычные дизайнерские решения в пользу удовлетворения вкусов как можно большего количества покупателей. Впрочем, даже из такого привычного и массового продукта как iPhone можно сделать нечто эффектное и отличающееся среди прочих. Например, если объединить ювелирное искусство и высокие технологии.</span></blockquote>
            <p>Специалисты Aurum Edition создающие дизайнерские смартфоны с уникальным дизайном, сделали необычный подарок полузащитнику Евгению Коноплянке. Последняя модель iPhone символизирует блестящую игру футболиста и его привязанность к маленькой дочери. Создавая гаджет для Евгения, дизайнеры Aurum Edition разработали уникальный внешний вид логотипа, соединив футбольную символику, звезды и дату рождения его дочки Златы. А теперь золотой смартфон от Aurum Edition «улетел» в Испанию вместе с Евгением Коноплянкой, играющим за ФК «Севилья». Интересно, будет ли он постоянно пользоваться этим устройством, или предпочтет оставить золотую модель в качестве сувенира, вернувшись обычному iPhone?</p>
            <p>Мастера Aurum Edition работают вручную и до мелочей прорабатывают каждую деталь. Дюжина специалистов, среди которых инженеры, дизайнеры, специалисты по драгоценным металлам, создают по-настоящему уникальные гаджеты. Основой каждого устройства становится стандартный серийный смартфон: популярная модель iPhone, Samsung или другого известного бренда. Попадая в руки специалистов Aurum Edition, он становится практически новым устройством за счет полной замены корпуса и изменения дизайна с использованием дорогих материалов.</p>
          </div>
        </div>
        <p class="author">Источник: <a href="#">Обзор новой коллекции телефонов в Cult of Mac</a></p>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
