<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin header -->
  <include src="../chunks/nav.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="catalogue">
      <div class="container">
        <ul class="bredcrumbs">
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Главная</a>
          </li>
          <li class="bredcrumbs-item">
            <a href="#" class="bredcrumbs-link">Эксклюзивные телефоны Apple</a>
          </li>
          <li class="bredcrumbs-item">
            <span class="bredcrumbs-last">Элитный IPhone XS 256GB Platinum Ornate Aristocrate</span>
          </li>
        </ul>
        <div class="product-row">
          <div class="product-left">
              <h1>
                  <span class="product-sub-name">Элитный iPhone XS 256GB Platinum</span>
                  <span class="product-name">Classic Ornate Aristocrate</span>
              </h1>
            <div class="product-slider">
              <div class="product-slide">
                <div class="product-img-container">
                  <img class="product-img" src="assets/img/product.jpg" alt="">
                </div>
              </div>
              <div class="product-slide">
                <div class="product-img-container">
                  <img class="product-img" src="assets/img/product.jpg" alt="">
                </div>
              </div>
              <div class="product-slide">
                <div class="product-img-container">
                  <img class="product-img" src="assets/img/product.jpg" alt="">
                </div>
              </div>
              <div class="product-slide">
                <div class="product-img-container">
                  <img class="product-img" src="assets/img/product.jpg" alt="">
                </div>
              </div>
              <div class="product-slide">
                <div class="product-img-container">
                  <img class="product-img" src="assets/img/product.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="product-sub-slider">
              <div class="product-sub-slide">
                <div class="product-sub-img-container">
                  <img class="product-sub-img" src="assets/img/product-s-1.jpg" alt="">
                </div>
              </div>
              <div class="product-sub-slide">
                <div class="product-sub-img-container">
                  <img class="product-sub-img" src="assets/img/product-s-2.jpg" alt="">
                </div>
              </div>
              <div class="product-sub-slide">
                <div class="product-sub-img-container">
                  <img class="product-sub-img" src="assets/img/product-s-3.jpg" alt="">
                </div>
              </div>
              <div class="product-sub-slide">
                <div class="product-sub-img-container">
                  <img class="product-sub-img" src="assets/img/product-s-4.jpg" alt="">
                </div>
              </div>
              <div class="product-sub-slide">
                <div class="product-sub-img-container">
                  <img class="product-sub-img" src="assets/img/product-s-1.jpg" alt="">
                </div>
              </div>
            </div>
            <button type="button" class="video-btn btn-secondary">
              <img src="assets/img/video-icon.png" alt="">
              <span>Посмотреть видео обзор</span>
            </button>
          </div>
          <div class="product-right">
              <h1>
                  <span class="product-sub-name">Элитный iPhone XS 256GB Platinum</span>
                  <span class="product-name">Classic Ornate Aristocrate</span>
              </h1>
            <div class="product-price-block">
              <p class="product-price">75 000 <span>грн</span></p>
              <button type="button" class="btn" data-remodal-target="recall-modal">Оставить заявку</button>
            </div>
            <button type="button" class="video-btn btn-secondary">
              <img src="assets/img/video-icon.png" alt="">
              <span>Посмотреть видео обзор</span>
            </button>
            <div class="product-tags-row">
              <p class="product-tag-name">Другие модели:</p>
              <a href="#" class="product-tag btn-secondary">IPhone XS 256GB</a>
              <a href="#" class="product-tag btn-secondary">IPhone XS 512GB</a>
              <a href="#" class="product-tag btn-secondary">IPhone XS MAX 256GB</a>
              <a href="#" class="product-tag btn-secondary">IPhone XS MAX 512GB</a>
            </div>
            <div class="product-text-block">
                <div class="product-text">
                    <p>Задняя панель обтянута кожей нильского крокодила высшего качества, в на которую установлен золотой дракон с 6 чистейшими бриллиантами в теле и 2 в глазах — стародавний символ космической и сверхъестественной силы, мудрости и тайных знаний. Боковая рамка покрыта золотом 24K и детализирована ручной гравировкой. Боковую кнопку украшает красавец темно-синий сапфир. Также задняя часть обрамлена золотой рамкой вокруг камеры с ручной гравировкой, и нижней частью также в золоте с ручной гравировкой с карбоновой двухцветной вставкой, которая придает телефону более эксклюзивный и поражающий эффект.</p>
                    <p>Каждая изготовленная модель уникальна, и отличается природным рисунком материалов (это допускает некоторые отличия от фото). К тому же, мы готовы персонализировать Ваш iPhone лично для Вас именной гравировкой на корпусе или тиснением золотыми буквами на коже.</p>
                    <p>Телефон упакован в подарочную деревянную коробку.</p>
                </div>
              <button class="show-product-text">Читать все</button>
            </div>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="container">
          <h3 class="review-block-name">Отзывы</h3>
          <div class="review-row">
            <div class="review-left">
              <button type="button" class="review-form-show btn">Оставить отзыв</button>
              <form action="#" class="review-form">
                <p class="review-form-name">Написать отзыв</p>
                <div class="review-form-row">
                  <label class="review-label">
                    <span class="review-label-text">Ваше Имя:</span>
                    <input type="text" name="name" class="input">
                  </label>
                  <div class="review-label mod-ml">
                    <span class="review-label-text">Рейтинг:</span>
                    <div class="review-stars-row">
                      <label class='star' title='Poor' data-value='1'>
                        <input type="radio" name="star-raiting" class="star-checkbox">
                        <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                      </label>
                      <label class='star' title='Fair' data-value='2'>
                        <input type="radio" name="star-raiting" class="star-checkbox">
                        <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                      </label>
                      <label class='star' title='Good' data-value='3'>
                        <input type="radio" name="star-raiting" class="star-checkbox">
                        <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                      </label>
                      <label class='star' title='Excellent' data-value='4'>
                        <input type="radio" name="star-raiting" class="star-checkbox">
                        <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                      </label>
                      <label class='star' title='WOW!!!' data-value='5'>
                        <input type="radio" name="star-raiting" class="star-checkbox">
                        <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                      </label>
                    </div>
                  </div>
                </div>
                <label class="review-label">
                  <span class="review-label-text">Ваш отзыв:</span>
                  <textarea name="msg" class="textarea"></textarea>
                </label>
                <button type="submit" class="btn">Оставить отзыв</button>
              </form>
            </div>
            <div class="review-right">
              <p class="review-bg-text">Отзывы</p>
              <div class="review-item">
                <div class="review-head">
                  <div class="review-head-left">
                    <p class="review-item-name">Иван</p>
                    <p class="review-item-date">10/02/2020</p>
                  </div>
                  <div class="review-item-stars">
                    <span class='star-item selected' title='Poor' data-value='1'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='Fair' data-value='2'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='Good' data-value='3'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='Excellent' data-value='4'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item' title='WOW!!!' data-value='5'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                  </div>
                </div>
                <p class="review-item-text">Отличное время работы, в моем режиме я заряжаю телефон раз в 2 дня, при том что заряд еще ни разу не опускался ниже 35%;
                  Скорость работы - космическая. На удивление крайне приятный экран, наверное одна из лучших IPS-панелей, которые я видел в телефонах;
                  Дизайн не вызывает отторжения: черный матовый стеклянный блок камер органично дополняет черную кожу.</p>
              </div>
              <div class="review-item">
                <div class="review-head">
                  <div class="review-head-left">
                    <p class="review-item-name">Анатолий</p>
                    <p class="review-item-date">10/02/2020</p>
                  </div>
                  <div class="review-item-stars">
                    <span class='star-item selected' title='Poor' data-value='1'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='Fair' data-value='2'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='Good' data-value='3'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='Excellent' data-value='4'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                    <span class='star-item selected' title='WOW!!!' data-value='5'>
                      <svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.574 15.362-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.435.181-1.173-.423-1.265l-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.043-7.378 1.127c-.606.093-.848.83-.423 1.265z"/></svg>
                    </span>
                  </div>
                </div>
                <p class="review-item-text">На удивление крайне приятный экран, наверное одна из лучших IPS-панелей, которые я видел в телефонах. Дизайн не вызывает отторжения: черный матовый стеклянный блок камер органично дополняет черную кожу.</p>
              </div>
              <a class="load-more-review" href="#">Смотреть все отзывы</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="similar-products">
          <h2 class="block-name">С этим товаром часто покупают</h2>
          <div class="catalogue-row">
            <a href="#" class="catalogue-item">
              <div class="catalogue-img-container">
                <img class="catalogue-img" src="assets/img/similar-1.jpg" alt="">
              </div>
              <p class="catalogue-name">Apple Watch 5 Skull Gold</p>
            </a>
            <a href="#" class="catalogue-item">
              <div class="catalogue-img-container">
                <img class="catalogue-img" src="assets/img/similar-2.jpg" alt="">
              </div>
              <p class="catalogue-name">Black Out Strap</p>
            </a>
            <a href="#" class="catalogue-item">
              <div class="catalogue-img-container">
                <img class="catalogue-img" src="assets/img/similar-3.jpg" alt="">
              </div>
              <p class="catalogue-name">Stefano Cover</p>
            </a>
          </div>
        </div>
        <div class="cart-bot">
          <div class="status-row">
            <div class="status-left">
              <img class="status-img" src="assets/img/status.png" alt="">
              <button type="button" class="btn">Выбрать подарочный сертификат</button>
            </div>
            <div class="status-right">
              <p class="status-text">Подарочные сертификаты</p>
              <p class="status-item">Подарочный сертификат VIP Status – это универсальный и изысканный подарок для поздравления сотрудников, клиентов, партнёров, друзей, близких. Человек, которому она подарена, сможет на свой вкус и сумму, указанную на карте, выбрать подарок в нашем магазине. При необходимости доплата осуществляется наличными или платежной картой с учетом скидки по Вашей дисконтной карте.</p>
              <a href="#" class="btn">Выбрать подарочный сертификат</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/other-footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
