// footer
//-----------------------------------------------------------------------------------

.footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 45px;
  right: 40px;
  z-index: 100;
  @media (max-width: 1100px) {
    right: 0;
    bottom: 0;
    height: 45px;
    justify-content: space-between;
    width: calc(100% - 120px);
    border-top: solid 1px rgba(#eec997, 0.3);
    background-color: #14151a;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 76px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}
.footer-link{
  font-family: $FiraSans;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.24px;
  color: #fdefe6;
  margin-left: 40px;
  &:first-child{
    margin-left: 0;
  }
  &:hover{
    text-decoration: none;
  }
  @media (max-width: 767px) {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.92px;
    text-align: right;
    color: #fdefe6;
  }
}
.footer-m-call{
  display: none;
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 54px;
    height: 44px;
    right: 0;
    bottom: 0;
    background-color: rgba(#eec997, 0.3);
    svg{
      width: 25px;
      height: 25px;
      fill: #eec997;
    }
  }
}
.other-footer-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  
}
.other-footer{
  &.fixed{
    @media (max-width: 1199px) {
      display: none;
    }
    .other-footer-right{
      position: fixed;
      bottom: 45px;
      right: 40px;
      z-index: 99;
      @media (max-width: 1199px) {
        position: static;
      }
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 45px;
  }
  .status-block{
    padding-right: 40px;
    width: calc(100vw - 190px);
    margin-left: 190px;
    position: static;
    @media (max-width: 1299px){
      width: calc(100vw - 120px);
      margin-left: 120px;
    }
    @media (max-width: 767px) {
      margin-left: 0;
      width: 100%;
    }
  }
  .status-contact{
    @media (max-width: 1100px) {
      width: 230px;
    }
  }
  .status-numbers{
    @media (max-width: 991px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: block;
    }
  }
}
.other-footer-right{
  @media (max-width: 767px) {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 45px;
    justify-content: space-between;
    width: 100%;
    border-top: solid 1px rgba(#eec997, 0.3);
    background-color: #14151a;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 76px;
    z-index: 100;
  }
}