// header
//-----------------------------------------------------------------------------------

.header{
  position: absolute;
  right: 40px;
  top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 60%;
  @media (max-width: 1350px) {
    width: 75%;
  }
  a:hover {
    text-shadow: 0 0 5px #efca97;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.index .header{
  position: fixed;
  right: 40px;
  top: 45px;
  display: flex;
  align-items: center;
  z-index: 100;
  @media (max-width: 1199px) {
    display: none;
  }
}
.header-link{
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fdefe6;
  z-index: 2;
  position: relative;
  &:hover{
    text-decoration: none;
  }
}
.header-item{
  text-align: center;
  position: relative;
  &:first-child{
    margin-left: 0;
  }
  &:hover{
    .header-sublist{
      display: flex;
    }
  }
  @media (max-width: 1399px) {
    margin-left: 30px;
  }
}
.header-item:nth-child(4) {
  flex-basis: 170px;
}
.header-sublist{
  position: absolute;
  width: calc(100% + 34px);
  padding: 75px 0 30px 0;
  box-sizing: border-box;
  border: 1px solid #bda077;
  border-radius: 10px;
  top: -28px;
  left: -17px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(20, 21, 26, 0.7);
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: calc(100% - 20px);
    height: 3px;
    background-image: linear-gradient(to top, #e9c9a4, #a88145);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 50px 7px #e9c9a452;
  }
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 16px);
    height: calc(100% - 16px);
    border-radius: 6px;
    border: solid 1px rgba(#bda077, 0.2);
  }
}
.header-sublist-link{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fdefe6;
  margin-bottom: 28px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
  &:last-child{
    margin-bottom: 0;
  }
  &:hover{
    text-decoration: none;
  }
}