.nav{
  position: fixed;
  z-index: 999;
  width: 190px;
  box-sizing: border-box;
  height: 100vh;
  border-right: 1px solid rgba(#efca97, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 45px;
  transition: 0.3s;
  @media (max-width: 1299px) {
    width: 120px;
  }
  @media (max-width: 767px) {
    flex-direction: row;
    width: 100vw;
    height: 80px;
    border-right: 0;
    border-bottom: 1px solid rgba(#efca97, 0.7);
    background-color: #14151a;
    padding: 0 20px;
  }
  &.active{
    background-color: #14151a;
    .menu-button{
      .menu-button-line{
        background-color: transparent;
        &:before{
          width: 100%;
          transform: rotate(45deg) translateY(-50%);
          top: 50%;
        }
        &:after{
          width: 100%;
          transform: rotate(-45deg) translateY(50%);
          bottom: 50%;
        }
      }
    }
  }
}
.languages-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 767px) {
    order: 3;
  }
}
.language-link{
  font-family: $FiraSans;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  color: #fdefe6;
  &:hover{
    text-decoration: none;
  }
  &.active{
    color: rgba(253, 239, 230, 0.4);
    cursor: default;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.menu-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 38px;
  @media (max-width: 767px) {
    order: 1;
    width: 40px;
    height: 26px;
  }
}
.menu-button-line{
  width: 100%;
  position: relative;
  height: 2px;
  background-color: #efca97;
  border-radius: 1px;
  transition: 0.3s;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: -18px;
    height: 2px;
    width: 30px;
    background-color: #efca97;
    border-radius: 1px;
    transition: 0.3s;
    @media (max-width: 767px) {
      top: -11px
    }
  }
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 2px;
    width: 30px;
    background-color: #efca97;
    border-radius: 1px;
    transition: 0.3s;
    @media (max-width: 767px) {
      bottom: -11px
    }
  }
}
.header-menu{
  display: none;
  position: absolute;
  height: 100vh;
  width: calc(100vw - 190px);
  left: 190px;
  top: 0;
  background-color: rgba(#14151a, 0.9);
  box-sizing: border-box;
  padding: 80px 42px;
  overflow: auto;
  @media (max-width: 1299px) {
    width: calc(100vw - 120px);
    left: 120px;
  }
  @media (max-width: 767px) {
    width: 100%;
    left: 0;
    height: calc(100vh - 80px);
    top: 80px;
    padding: 43px 15px 74px;
  }
}
.menu-top-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  @media (max-width: 767px) {
    display: none;
  }
}
.menu-top-btn{
  width: calc(25% - 31.5px);
  height: 250px;
  box-sizing: border-box;
  border: solid 2px #544735;
  position: relative;
  transition: 0.3s;
  &:hover{
    border-color: #eec997;
    .menu-top-btn-block{
      opacity: 1;
    }
  }
  @media (max-width: 1399px) {
    height: 170px;
  }
}
.menu-top-btn-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-top-btn-block{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: solid 2px #eec997;
  height: 100%;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: rgba(#14151a, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-top-btn-text{
  font-size: 26px;
  color: #eec997;
  font-family: $PlayfairDisplay;
  font-weight: bold;
  @media (max-width: 1399px) {
    font-size: 16px;
  }
}
.menu-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-bottom-link{
  font-size: 36px;
  color: #eec997;
  font-family: $PlayfairDisplay;
  font-weight: bold;
  margin-bottom: 55px;
  transition: 0.3s;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    width: 0;
    left: -40px;
    height: 1px;
    opacity: 0.2;
    background-color: #efca97;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:hover{
    text-decoration: none;
    color: #7b6446;
    &:before{
      width: calc(100% + 80px);
    }
  }
  @media (max-width: 767px) {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #eec997;
    margin-bottom: 40px;
  }
}
.menu-bottom-left{
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 1699px) {
    display: none;
  }
  @media (max-width: 767px) {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
  }
}
.menu-bottom-left-block{
  margin-right: 36px;
  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.menu-bottom-left-text{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fdefe6;
}
.menu-bottom-left-link{
  font-family: $PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #efca97;
  &:hover{
    text-decoration: none;
  }
}

.logo{
  @media (max-width: 1299px) {
    width: 90px;
  }
  @media (max-width: 767px) {
    width: 48px;
  }
}
.logo-link{
  @media (max-width: 767px) {
    order: 2;
  }
}
.menu-top-m{
  display: none;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
.nav-item{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-link{
  font-family: $PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #eec997;
  margin-bottom: 25px;
}
.nav-sublist{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-sublist-link{
  font-family: $FiraSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fdefe6;
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0;
  }
}